.userPhoto {
    width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50% 50%;
}

.selectNumber {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}