.nav {
    grid-area: n;
    padding: 20px;
    background: rgb(4, 52, 65);
    z-index: 3;
    box-shadow: 1px 2px 3px #888;
}

.friends {
    padding: 20px;
    font-size: 30px;
}

.item .activeLink {
    color: gold;
}

.nav ul {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.nav ul li{
    display: block;
    width: 120px;
    position: relative;
}

.nav ul li .a{
    position: relative;
    display: block;
    width: 198px;
    height: auto;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ccc;
    line-height: 2em;
    padding: 10px 15px;
    /*background: rgb(4, 52, 65);*/
    text-decoration: none;
    text-shadow: 2px 2px 3px #222;
}

.nav ul li .a:hover,
.nav ul li:hover .a{
    /*background: rgb(30, 60, 67);*/
    color: #27c6f6;
}

.nav ul li ul{
    position: center;
    top: 0px;
    left: 198px;
    display: none;
    width: auto;
}

.nav ul li:hover ul{
    display: block;
}

.nav ul li ul li .a{
    white-space: nowrap;
    text-transform: none;
    padding: 10px 20px;
    width: 153px;
}

.nav ul li ul li .a:hover{
    background: rgb(38, 79, 88);
    color: #fff;
}

.img_n {
    text-decoration: none;
}

.img_n .a{
    transition: .3s;
}

.img_n .a:hover{
    margin-left: 5px;
    transition: .3s;
}

/*MEDIA*/

@media screen and (max-width: 1152px){

    .nav ul li .a{
        width: 57px;
        transition: .3s;
    }a

    .nav ul li{
        width: 57px;
    }

    .nav ul li ul li .a{
        left: -141px;
    }

    span{
        display: none;
    }
}
