.login__container {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background-color: white;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__container h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container .btn {
    margin-top: 30px;
}

.login__container .passwordInput {
    margin-top: 10px;
}